.logo {        
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 500px;
    max-width: 70%;
  }

  .div-background {
    background-image: url("../img/background.jpeg");
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}

.logo-text {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    color: #f28a11;
    top: 50%;
  }

.passes {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.passes li {
    list-style: none;
}

.passes .pass {
    background: #e3340c;
    color: white;
    padding: 10px;
    text-align: center;
    transform: skewY(-1deg);
    box-shadow: 10px -15px #f28a11;
}

.lineup-item {
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    .div-background {
      background-image: url("../img/background.jpeg");
      background-position: top center;
      background-size: cover;
    }

    .logo {        
        display:block;
        margin-left:auto;
        margin-right:auto;
        width: 500px;
        max-width: 70%;
      }

      .passes > .pass:not(:last-child) {
        margin-bottom: 30px;
    }
  }